body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #141212;
  color: #f18585;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

main {
  margin: 20px;
}

h1 {
  font-size: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin: 0;
}

p {
  margin: 20px;
}
.safety-rules {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(255, 0, 0, 0.1);
}
a {
  color: #333;
  text-decoration: none;
  border: 1px solid #333;
  padding: 5px 10px;
  display: inline-block;
}

a:hover {
  background-color: #ff0000;
  color: #000000;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 10
}  

a.read-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

a.read-more:hover {
  background-color: #782e8b;
}
body {
  font-family: Arial, sans-serif;
  background-color: #e45050;
  margin: 0;
  padding: 0px;
}

h1 {
  text-align: center;
  margin: 20px;
  color: #000000;
}

.safety-rules {
  max-width: 600px;
  margin: 10 auto;
  background-color: #dd2b2b;
  padding: 30px;
  border-radius: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ol {
  list-style-type: decimal;
  padding-left: 0px;
}

li {
  margin-bottom: 10px;
}

.comments {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.comment .author {
  font-weight: bold;
}

.comment .date {
  font-size: 0.8em;
  color: #000000;
}

.comment .text {
  margin-top: 10px;
}
ol {
  list-style-type: decimal;
  padding-left: 20px;
}

li {
  margin-bottom: 20px;
}
.image-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
  text-align: center;

}